.card-item:hover .card-image{
    -webkit-transform : rotrotate(20deg) scale(1.7); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(20deg) scale(1.7); /* IE 9 */
    transform         : rotate(20deg) scale(1.7); /* Firefox 16+, IE 10+, Opera */

    transition-duration: 500ms;
}